attrs
build
CacheControl
certifi
cffi
charset-normalizer
cleo
crashtest
distlib
dulwich
filelock
idna
importlib-metadata
installer
jaraco.classes
jsonschema
keyring
more-itertools
msgpack
packaging
pexpect
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
ptyprocess
pycparser
pyproject_hooks
pyrsistent
rapidfuzz
requests
requests-toolbelt
shellingham
tomli
tomlkit
trove-classifiers
urllib3
virtualenv
xattr
zipp
flask
opencv-python
tensorflow
pillow
Image